/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------End Reset-------------------*/

:root{
    --neon-green:#89FC00;
    --black:#000000;
    --white:#ffffff;
    --deep-purple:#3c096c;
}
*{
    box-sizing: border-box;
}
html{
    background-color: var(--black);
}
body{
    position: relative;
    margin: 0 auto;
    width:1280px;
    background-color: var(--white);
    color: var(--black);
}
#skip{
    position: absolute;
    width:1px;
    height:1px;
    left:-1000;
    overflow:hidden;
}
#skip:focus{
    position:relative;
    top: 15px;
    left:125px;
}
header{
    display: block;
    position: relative;
    width:100%;
    padding:10px;
    padding-bottom: 30px;
}
nav{
    display: block;
    position:absolute;
    width: 400px;
    top: 35px;
    right: 0px;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
nav li{
    padding-left: 15px;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#headerWrap{
    display: flex;
    flex-flow: row wrap;
    width:100%;
    justify-content: left;
    align-content: center;
}
#headerWrap p{
    font-size: 50px;
    font-weight: 700;
    align-self: center;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
h1{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding:20px;
}
h2{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p, a, label, legend, input{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}
/**********Artist Section********/
.artistSection{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    padding:30px;
}
.artistSection h2{
    grid-column: 1/-1;
    height: 100px;
}
.artistSection p{
    position:relative;
    width: 400px;
    padding-top: 10px;
    left: 25px;
    line-height: 2rem;
}
.imgWrapper{
    display: flex;
    flex-flow: row wrap;
    gap:10px;
}
div.imgWrapper img{
    width: 250px;
    height: 250px;
}

/**********Music Section********/
#music{
    position: relative;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(150px,150px,300px);
    padding: 30px;
}
.musicSection h2{
    grid-column: 1/-1;
    grid-row: 1/2;
    padding-bottom: 15px;
}
.musicSection h3{
    position: relative;
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-bottom: 25px;
    left:25px;
}
#music section>img{
    grid-row: 3/4;
    width:200px;
    height:200px;
    padding-right: 10px;
    border-radius: 15%;
    justify-self: center;
}

/**********Game Section********/







/**********ContactForm Section********/
.contactSection{
    display: block;
    padding-left: 20px;
    margin-top: 20px;
}
.contactSection h2{
    padding-bottom: 30px;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    width:900px;
    background-color: red;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 25px;
    left:160px;
}
form p{
    grid-column: 1/-1;
    align-self: center;
}
form label{
    padding:10px;
}
form input{
    width:200px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}






/**********footer Section********/
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--neon-green);
    align-items: end;
    padding:10px 20px;
    color: var(--black);
    line-height: 1.5rem;
}
footer p{
    justify-self: center;
}
footer a{
    text-decoration: none;
    color: var(--black);
}